.sub-header
  .logo-left
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2597607285",class: "mercari-logo"
  .progss-bar
    %ul.progss-bar__ul
      %li.progss-bar__item
        .fifth
          完了
          .progss-bar__maru-first
      %li.progss-bar__item#second
        .fourth
          支払い情報
          .progss-bar__maru
      %li.progss-bar__item
        .third
          住所入力
          .progss-bar__maru
      %li.progss-bar__item
        .second
          電話番号認証
          .progss-bar__maru
      %li.progss-bar__item
        .first
          会員情報
          .progss-bar__maru
