.single-main{
  .single-panel{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__sign-up{
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      // font-weight: bold;
    }
    &__inner{
      padding: 64px;
      border-top: 1px solid #f5f5f5;
    }
    &__btns{
      max-width: 320px;
      margin: 0 auto;
      .sns-btn {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        position: relative;

        i {
          position: absolute;
          top: 50%;
          left: 16px;
          font-size: 18px;
          transform: translate(0, -50%);
        }

        &-facebook {
          background: #385185;
          color: #fff;
          margin: 16px 0 0;
        }

        &-google {
          margin: 16px 0 0;
          background: #dc4e41;
          color: #fff;
        }

        &-mail {
          background: #eee;
          color: #000;
        }
      }
    }
  }
}
